.list-container {
  background-color: #5c7080;
  min-height: 1500px;
  overflow: hidden;
  height: 100%;
}

.list-filters {
  position: fixed;
  top: 70px;
  left: 35%;
}

.list-search {
  padding-bottom: 25px;
}

.list-pokedex {
  padding-top: 150px;
  overflow-y: auto;
}
