.home-container {
  background-color: #5c7080;
  min-height: 800px;
  overflow: hidden;
  height: 100%;
}

.active-events-container {
  float: left;
  width: 50%;
}

.upcoming-events-container {
  float: left;
  width: 50%;
}

.active-events-title {
  text-align: center;
  padding-top: 20px;
}

.events-title {
  text-align: center;
  padding-top: 20px;
}

.event {
  margin: 25px;
  width: 95%;
}
