.navbar-container {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-app-icon {
  border-radius: 50%;
  max-width: 100%;
  height: 35px;
  padding-right: 10px;
}

.navbar-user-image {
  border-radius: 50%;
  max-width: 100%;
  height: 35px;
}

.navbar-user-name {
  padding-left: 10px;
}
